// @font-face {
  // font-family: 'HWTArtz';
  // src: url('../fonts/2F59BE_0_0.eot');
  // src: url('../fonts/2F59BE_0_0.eot?#iefix') format('embedded-opentype'),
  // url('../fonts/hwtArtz/2F59BE_0_0.woff2') format('woff2'), 
  // url('../fonts/hwtArtz/2F59BE_0_0.woff') format('woff'),
  // url('../fonts/hwtArtz/2F59BE_0_0.ttf') format('truetype');
// }
@font-face {
    font-family: 'RobotoLight';
    src: url('../fonts/RobotoLight.eot');
    src: url('../fonts/RobotoLight.eot') format('embedded-opentype'),
         url('../fonts/RobotoLight.woff2') format('woff2'),
         url('../fonts/RobotoLight.woff') format('woff'),
         url('../fonts/RobotoLight.ttf') format('truetype'),
         url('../fonts/RobotoLight.svg#RobotoLight') format('svg');
}
@font-face {
    font-family: 'FuturaPTLight';
    src: url('../fonts/FuturaPTLight.eot');
    src: url('../fonts/FuturaPTLight.eot') format('embedded-opentype'),
         url('../fonts/FuturaPTLight.woff2') format('woff2'),
         url('../fonts/FuturaPTLight.woff') format('woff'),
         url('../fonts/FuturaPTLight.ttf') format('truetype'),
         url('../fonts/FuturaPTLight.svg#FuturaPTLight') format('svg');
}
@font-face {
    font-family: 'FuturaPTLightOblique';
    src: url('../fonts/FuturaPTLightOblique.eot');
    src: url('../fonts/FuturaPTLightOblique.eot') format('embedded-opentype'),
         url('../fonts/FuturaPTLightOblique.woff2') format('woff2'),
         url('../fonts/FuturaPTLightOblique.woff') format('woff'),
         url('../fonts/FuturaPTLightOblique.ttf') format('truetype'),
         url('../fonts/FuturaPTLightOblique.svg#FuturaPTLightOblique') format('svg');
}

