.homePage {
    // margin-bottom:  300px;
    .wrapper {
        max-width: 990px;
        width: 100%;
        padding: 0 15px;
        box-sizing: border-box;
        margin: 0 auto;
    }
    .main_header {
        text-transform: uppercase;
        padding-bottom: 18px;
    }
    .time_header_text {
        font-family: RobotoLight;
        font-size: 28px;
        text-align: center;
        padding-top: 15px;
        padding-bottom: 15px;
    }
    .background_wrapper {
        position: relative;
        padding-top: 15px;
    }
    .background_header {
        background: url(../img/sport_girl.jpg);
        width: 100%;
        min-height: 580px;
        background-size: cover;
        background-position: 50% 0;
        position: absolute;
        top: 0;
        bottom: 40px;
    }
    .content_header {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        // padding-top: 15px;
    }
    .smart_logo {
        max-width: 210px;
        width: 100%;
    }
    .wrapper_text_form {
        color: $white;
        margin-top: 100px;
    }
    .wrapper_text {
        text-align: center;
    }
    .wrapper_form {
        margin-top: 30px;
        width: 100%;
    }
    .checkbox_block {
        // margin-top: 15px;
    }
    .info_title {
        font-size: 32px;
        font-weight: bold;
        margin-top: 15px;
        margin-bottom: 15px;
    }
    .info_text {
        font-family: FuturaPTLight;
        font-size: 19px;
        opacity: 0.9;
    }
    .emailAddress {
        border: none;
        height: 50px;
        margin-bottom: 15px;
        &:focus {
            outline: none;
        }
        &::placeholder {
            color: $placeholderColor;
            font-size: 16px;
        }
    }
    .contest_button {
        width: 100%;
        height: 50px;
        background-color: $buttonBlue;
        color: $white;
        font-size: 18px;
        margin-top: 15px;
        box-shadow: 8px 10px 70px $black;
    }
    .label_span {
        display: none;
    }
    [type="checkbox"]:checked,
    [type="checkbox"]:not(:checked) {
        position: absolute;
        left: -9999px;
    }
    [type="checkbox"]:checked + label,
    [type="checkbox"]:not(:checked) + label {
        position: relative;
        padding-left: 28px;
        cursor: pointer;
        line-height: 20px;
        display: inline-block;
        color: $white;
    }
    [type="checkbox"]:checked + label:before,
    [type="checkbox"]:not(:checked) + label:before {
        content: '';
        position: absolute;
        left: -15px;
        top: 0;
        width: 18px;
        height: 18px;
        border: 1px solid #000;
        background: #fff;
    }
    [type="checkbox"]:checked + label:after,
    [type="checkbox"]:not(:checked) + label:after {
        content: '';
        width: 8px;
        height: 8px;
        background: #00a69c;
        position: absolute;
        top: 6px;
        left: -9px;
        -webkit-transition: all 0.2s ease;
        transition: all 0.2s ease;
    }
    [type="checkbox"]:not(:checked) + label:after {
        opacity: 0;
        -webkit-transform: scale(0);
        transform: scale(0);
    }
    [type="checkbox"]:checked + label:after {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    .wrapper_title_list {
        padding-top: 25px;
        padding-bottom: 25px;
    }
    .title_advantages {
        font-family: roboto-black;
        font-weight: bold;
        font-size: 18px;
        margin-bottom: 25px;
    }
    .title_advantages_desktop {
        display: none;
    }
    .advatages_list {
        li {
            font-family: RobotoLight;
            font-size: 16px;
            &:nth-child(1) {
                margin-bottom: 25px;
            }
            &:nth-child(2) {
                margin-bottom: 25px;
            }
            &:nth-child(3) {
                margin-bottom: 25px;
            }
        }
    }
    .img_block_charging {
        margin-top: 25px;
    }
    .trainings {
        width: 100%;
        padding-top: 20px;
        padding-bottom: 20px;
        position: relative;
    }
    .background_trainings {
        background-color: $orange;
        position: absolute;
        top: 0;
        bottom: 0;
        width: 100%;
        z-index: -1;
    }
                                    // SLIDER
    .slider_block {
        input[name="tab"] {
            display: none;
            font-family: RobotoLight;
        }
        .slider {
            margin: 0 auto;
            max-width: 100%;
            overflow: hidden;
            white-space: nowrap;
            word-wrap: normal;
        }
        .label_list {
            display: flex;
            flex-direction: column;
            max-width: 480px;
            margin-left: auto;
            margin-right: auto;
            font-family: RobotoLight;
        }
        .trainings_button_black {
            text-align: center;
            margin-left: 23px;
            background-color: $black;
            margin-top: 30px;
            margin-bottom: 30px;
        }
        .text_button_color {
            color: $white;
        }
        .trainings_title {
            font-size: 20px;
            text-transform: uppercase;
            margin-bottom: 30px;
            margin-left: 23px;
            white-space: initial;
        }
        .slider li:nth-child(1) {
            list-style: none;
        }
        .slider li:nth-child(n+2) {
            position: relative;
            display: block;
            width: 100%;
            max-height: 0;
            text-align: center;
            vertical-align: top;
        }
        .slider li:nth-child(2) {
            max-height: 500em;
        }
        input[name="tab"]:checked ~ .slider li:nth-child(2) {
            max-height: 0;
        }
        #tab1:checked ~ .slider li:nth-child(3) {
            max-height: 500em;
            left: -100%;
        }
        #tab2:checked ~ .slider li:nth-child(4) {
            left: -200%; 
            max-height: 500em;
        }
        #tab3:checked ~ .slider li:nth-child(5) {
            left: -300%;
            max-height: 500em;
        }
        #tab4:checked ~ .slider li:nth-child(6) {
            left: -400%;
            max-height: 500em;
        }
        #tab5:checked ~ .slider li:nth-child(7) {
            left: -500%; 
            max-height: 500em;
        }
        #tab6:checked ~ .slider li:nth-child(8) {
            max-height: 500em;
            left: -600%;
        }
    .slider label[for="tab1"],
        #tab1:checked ~ .slider label[for="tab1"],
        #tab2:checked ~ .slider label[for="tab2"],
        #tab3:checked ~ .slider label[for="tab3"],
        #tab4:checked ~ .slider label[for="tab4"],
        #tab5:checked ~ .slider label[for="tab5"],
        #tab6:checked ~ .slider label[for="tab6"] {
            color: $blueTab;
        }
    .slider label, input[name="tab"]:checked ~ .slider label[for="tab1"] {
        color: transparent;
    }
        span {
            color: $black;
            margin-left: 15px;
            font-size: 17px;
            cursor: pointer;
        }
        .trainings_img_block {
            max-width: 480px;
            width: 100%;
            margin-left: auto;
            margin-right: auto;
        }
    }
    .smart_trainings {
        padding-top: 100px;
        padding-bottom: 80px;
        background: $backgroundSmart;
        font-family: RobotoLight;
    }
    .cards_smart_wrapper {
        width: 100%;
    }
    .title_smart {
        margin-bottom: 60px;
    }
    .card_smart_container {
        text-align: center;
        max-width: 250px;
        width: 100%;
        margin-bottom: 20px;
        margin-left: auto;
        margin-right: auto;
    }
    .card_smart_title {
        font-size: 17px;
        text-transform: uppercase;
        margin-top: 40px;
        margin-bottom: 30px;
    }
    .card_smart_text {
        font-size: 17px;
        padding: 0 20px;
        box-sizing: border-box;
    }
    .img_smart_block {
        img {
            min-height: 300px;
            object-fit: cover;
        }
    }
    .experts {
        padding-top: 70px;
        padding-bottom: 100px;
    }
    .title_expert {
        margin-bottom: 40px;
        position: relative;
        &:after {
            content:'';
            width: 90px;
            border: 2px solid $orange;
            position: absolute;
            left: 50%;
            bottom: -25px;
            transform: translateX(-50%);
        }
    }
    .subtitle_expert_text {
        font-family: RobotoLight;
        font-size: 17px;
        text-align: center;
        margin-bottom: 100px;
    }
    .wrapper_card_content {
        margin-top: 50px;
    }
    .card_expert_title {
        text-align: left;
        // margin-left: 20px;
        font-family: RobotoLight;
        font-weight: bold;
        margin-bottom: 5px;
    }
    .card_expert_text {
        text-align: left;
        font-family: FuturaPTLight;
        font-size: 17px;
    }
    .trainer_studio_map {
        width: 100%;
        min-height: 678px;
        box-sizing: border-box;
        position: relative;
    }
    .background_studio {
        background: url(../img/girl1.png) no-repeat 65% 0%;
        width: 100%;
        position: absolute;
        top: 0;
        bottom: 0;
    }
    .white_stars_block {
        display: flex;
        justify-content: space-between;
        max-width: 250px;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        padding-top: 85px;
        img {
            width: 40px;
            height: 35px;
            z-index: 1;
        }
    }
    .wrapper_popap_block {
        max-width: 990px;
        width: 100%;
        margin: 0 auto;
    }
    .smart_popap_block {
        background-color: $white;
        padding: 50px 15px 75px 15px;
        box-sizing: border-box;
        max-width: 960px;
        width: 100%;
        margin-top: 50px;
        position: absolute;
        top: 125px;
        font-family: RobotoLight;
    }
    .popap_top_wrapper {
        padding-bottom: 30px;
        border-bottom: 1px solid $borderColor;
    }
    .popap_title {
        font-size: 24px;
    }
    .popap_subtitle {
        color: $subtitleColor;
    }
    .stars_block {
        display: flex;
        align-items: center;
        margin-top: 30px;
    }
    .section_reviews {
        position: relative;
        padding-left: 60px;
        margin-top: 30px;
        &:after {
            content:'H';
            position: absolute;
            top: 0;
            left: 0;
            width: 50px;
            height: 50px;
            background-color: $purple;
            border-radius: 25px;
            color: $white;
            font-size: 32px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
    .section_next_reviews {
        position: relative;
        padding-left: 60px;
        margin-top: 30px;
        &:after {
            content:'Ð•';
            position: absolute;
            top: 0;
            left: 0;
            width: 50px;
            height: 50px;
            background-color: $iconColor;
            border-radius: 25px;
            color: $white;
            font-size: 32px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
    .block_bottom_stars {
        display: flex; 
        align-items: center;
        margin-top: 15px;
        margin-bottom: 12px;
        .starhalf1 {
            &:nth-child(1) {
                
            }
        }
        .rating > label {
            &:before {
                content: "\f005";
                margin: 2px;
                font-size: 1.2em;
                font-family: FontAwesome;
                display: inline-block;
                text-shadow: -1px 0px 3px #000;
            }
        }
    }
    .numeric {
        margin-right: 10px;
        font-size: 30px;
        color: $starColor;
    }
    .number_of_reviews {
        margin-left: 10px;
        color: $textReviews;
        font-size: 16px;
    }
    .user_name {
        font-weight: bold;
    }
    .counter_reviews {
        color: $subtitleColor;
        margin-top: 5px;
    }
    .recall_time {
        color: $subtitleColor;
        margin-left: 10px;
    }
    // ************************************STARS*******************************
    .rating {
        border: none;
        float: left;
    }
    .rating > input {
        display: none;
    }
    .rating > label:before {
        margin: 2px;
        font-size: 1.8em;
        font-family: FontAwesome;
        display: inline-block;
        content: "\f005";
        cursor: pointer;
    }
    .rating > .half:before {
        content: "\f089";
        position: absolute;
    }
    .rating > label {
        color: #ddd;
        float: right;
    }
    /***** CSS Magic to Highlight Stars on Hover *****/
    .rating > input:checked ~ label, /* show gold star when clicked */
    .rating:not(:checked) > label:hover, /* hover current star */
    .rating:not(:checked) > label:hover ~ label {
        color: $starColor;
    } /* hover previous stars in list */
    .rating > input:checked + label:hover, /* hover current star when changing rating */
    .rating > input:checked ~ label:hover,
    .rating > label:hover ~ input:checked ~ label, /* lighten current selection */
    .rating > input:checked ~ label:hover ~ label {
        color: $starColor;
    }
    .footer_top_wrapper {
        padding: 80px 15px;
        max-width: 690px;
        box-sizing: border-box;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .footer_h1 {
        font-size: 16px;
        font-family: roboto-black;
        font-weight: bold;
        text-transform: uppercase;
    }
    .button_footer {
        background: $buttonBlue;
        font-family: RobotoLight;
        margin-top: 45px;
    }
    .footer_bottom {
        text-align: center;
        color: $white;
        background: $footerBackground;
        padding: 5px 0;
    }
    @media (min-width: 480px) {
        .smart_popap_block {
            padding: 50px 60px 75px 90px;
        }
    }
    @media (min-width: 550px) {
        .cards_smart_wrapper {
            display: flex;
            flex-wrap: wrap;
        }
        .card_smart_container {
            width: 45%;
        }
    }
    @media (min-width: 640px) {
        .container_advatages {
            padding-bottom: 133px;
        }
        .wrapper_title_list {
            max-width: 600px;
            width: 100%;
            padding-left: 60px;
            padding-right: 60px;
            box-sizing: border-box;
            border: 3px solid $orange;
            margin-top: 80px;
            margin-left: auto;
            margin-right: auto;
        }
        .title_advantages_desktop {
            display: block;
            position: relative;
            margin-top: 90px;
            &:after {
                content:'';
                width: 90px;
                border: 2px solid $orange;
                position: absolute;
                left: 50%;
                bottom: -30px;
                transform: translateX(-50%);
            }
        }
        .title_advantages {
            display: none;
        }
        .img_block_charging {
            margin: 0 auto;
            max-width: 480px;
            width: 100%;
            display: none;
        }
        .advatages_list {
            list-style-type: initial;
        }
        .trainings_img_block {
            max-width: 480px;
            width: 100%;
        }
    }
    @media (min-width: 697px) {
        .card_smart_container {
            width: 32%;
            margin-bottom: 0;
        }
        .footer_h1 {
            font-size: 38px;
        }
    }
    @media (min-width: 960px) {
        .main_header {
            padding-bottom: 0;
        }
        .background_wrapper {
            padding-top: 0;
        }
        .background_header {
            bottom: 0;
        }
        .content_header {
            position: relative;
        }
        .smart_logo {
            position: absolute;
            top: -53px;
            left: 0;
            max-width: 250px;
        }
        .wrapper_text_form {
            max-width: 690px;
            width: 100%;
            margin-top: 0;
            padding-top: 320px;
            padding-bottom: 380px;
            display: flex;
            flex-direction: column;
            align-self: flex-end;
        }
        .wrapper_form {
            display: flex;
            justify-content: space-between;
        }
        .info_title {
            font-size: 70px;
        }
        .info_text {
            text-align: left;
            font-size: 28px;
        }
        .info_right_text {
            text-align: right;
        }
        .blocks_input {
            width: 49%;
        }
        .contest_button {
            margin-top: 0;
        }
        .label_span {
            display: block;
        }
        .checkbox_block {
            margin-top: 0;
        }
        [type="checkbox"]:checked + label:before,
        [type="checkbox"]:not(:checked) + label:before {
            content: '';
            border: none;
        }
        .wrapper_title_list {
            margin-right: auto;
            margin-left: 0;
            position: relative;
        }
        .img_block_charging {
            max-width: 400px;
            display: block;
            position: absolute;
            top: 57px;
            right: -327px;
        }
        .trainings {
            padding-bottom: 0;
        }
        .slider {
            position: relative;
            li {
                &:nth-child(1) {
                    position: absolute;
                    right: 0; 
                    bottom: 50%; 
                    z-index: 2;
                    transform: translateY(50%);
                }
            }
        }
        .background_trainings {
            bottom: 40px;
        }
        .background_trainings_bottom {
            background-color: $backgroundSmart;
            position: absolute;
            top: 0;
            bottom: 0;
            width: 100%;
            z-index: -2;
        }
        .trainings {
            margin-top: 60px;
        }
        .slider_block {
            .trainings_img_block {
                margin-left: 0;
                margin-right: 0;
            }
        }
    }
}